.swiper-button-next::after {
    color: black;
    font-size: 12px;
    background-color: white;
    border-radius: 50%;
    padding: 12px 16px 12px 16px;
}

.swiper-button-prev::after {
    color: black;
    font-size: 12px;
    background-color: white;
    border-radius: 50%;
    padding: 12px 16px 12px 16px;
}