.swiper-button-next::after {
    color: black;
    font-size: 32px;
}

.swiper-button-prev::after {
    color: black;
    font-size: 32px;
}

.swiper-pagination-bullet {
    background-color: inherit;
    border: 1px solid black;
    opacity: 1;
    top: 0;
}

.swiper-pagination-bullet-active {
    color: black;
    background-color: black;
}